@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir.ttc);
}

@font-face {
  font-family: Gotham-Black;
  src: url(../fonts/Gotham-Black.otf);
}

@font-face {
  font-family: Gotham-Bold;
  src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/Gotham-Book.otf);
}

@font-face {
  font-family: Gotham-Light;
  src: url(../fonts/Gotham-Light.otf);
}

@font-face {
  font-family: Gotham-Medium;
  src: url(../fonts/Gotham-Medium.otf);
}

@font-face {
  font-family: Prata-Regular;
  src: url(../fonts/Prata-Regular.ttf);
}

@font-face {
  font-family: Gotham-ExtraLight;
  src: url(../fonts/Gotham-ExtraLight.ttf);
}

@font-face {
  font-family: Cocogoose_trial;
  src: url(../fonts/Cocogoose_trial.otf);
}

@font-face {
  font-family: ITCAvantGardeStd-Demi;
  src: url(../fonts/ITCAvantGardeStd-Demi.otf);
}

:root {
  --c_cafe: #503629;
  --c_cafe_fuerte: #e9e6da;
}

/** tienda **/

.home_tienda {
  position: static;
  width: 100%;
  /* height: 100vh; */
  height: calc(100vh - 105px);
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 105px;
}

.uvas-tienda {
  position: absolute;
  width: 50%;
  height: 70%;
  right: 5%;
  top: 15%;
}

.cont-mensaje-tienda {
  position: relative;
  width: 80%;
  /* height: 50%; */
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1;
}

.prox {
  font-family: Gotham-Bold;
  position: relative;
  font-size: 52px;
  color: #4caf50;
  line-height: 0;
}

.btn_calatologo {
  font-family: Gotham-Bold;
  position: relative;
  font-size: 32px;
  color: #4caf50;
  line-height: 0;
}

.tien {
  font-family: Cocogoose_trial;
  position: relative;
  font-size: 5rem;
  color: white;
  line-height: 0;
}

.msj {
  font-family: ITCAvantGardeStd-Demi;
  position: relative;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.wha {
  font-family: ITCAvantGardeStd-Demi;
  color: #4caf50;
  font-size: 39px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.wha-ico {
  width: 50px;
  padding-right: 10px;
}

/** end tienda **/

/** form wine club **/

.form_wine_club {
  position: absolute;
  right: 0%;
  bottom: 5vh;
  width: 32%;
  height: auto;
  background-color: rgba(34, 34, 34, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin-bottom: 150px;
}

.input_100_wine_club {
  width: 90%;
  height: 30px;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: solid 1px #c8a791;
  padding-left: 10px;
  background-color: transparent;
  color: white;
}

.input_100_wine_club:focus {
  outline: none;
}

.input_titulo_club_wine {
  width: 90%;
  font-display: swap;
  font-family: Gotham-Book;
  font-size: 16px;
  color: white;
}

.titulo_formulario_wine_club {
  position: absolute;
  top: -50%;
  color: #c8a791;
  text-align: left;
  font-size: 2em;
  font-family: Gotham-Book;
  width: 100%;
}

/** end formulario wine club **/

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background: var(--c_cafe);
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

.espacio_blanco {
  width: 100%;
  height: 20vh;
  background-color: transparent;
}

.cont_ciruclo {
  position: absolute;
  width: 40%;
  height: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ciruclo_btn {
  position: relative;
  width: 120px;
  height: 120px;
  color: white;
  border-radius: 180%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: Gotham-Black;
}

.btn_si {
  background-color: black;
  font-size: 16px;
  transition: 0.5s;
}

.btn_si:hover {
  background-color: #503629;
  font-size: 26px;
}

.btn_no {
  font-size: 16px;
  transition: 0.5s;
  background-color: black;
}

.btn_no:hover {
  background-color: #503629;
  font-size: 26px;
}

.oculto {
  display: none !important;
}

.no_visible {
  opacity: 0;
}

#swal2-title {
  font-display: swap;
  font-family: Gotham-Bold !important;
  font-size: 18px !important;
  color: var(--c_cafe) !important;
}

.formulario__validacion-estado,
.formulario__validacion-estado-wineclub {
  position: absolute;
  right: 6%;
  bottom: 15%;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__grupo-correcto .formulario__validacion-estado,
.formulario__grupo-correcto-estado-wineclub .formulario__validacion-estado-estado-wineclub {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado,
.formulario__grupo-incorrecto-estado-wineclub .formulario__validacion-estado-estado-wineclub {
  color: #bb2929;
  opacity: 1;
}

.boton_unir_mov {
  display: none;
}

.boton_unir_mov {
  display: none;
}

.padding_30 {
  padding-left: 30px;
}

.preload {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.preload img {
  width: 40%;
}

.move {
  animation: salida 0.5s ease-in 0.5s forwards;
}

.btn_no:hover {
  fill: black;
  transition: 0.5s;
}

.btn_no:hover .txt_no {
  fill: white;
  transition: 0.5s;
}

.btn_si,
.btn_no {
  cursor: pointer;
}

.btn_si:hover {
  fill: black;
  transition: 0.5s;
}

@keyframes salida {
  0% {
    left: 0;
    overflow: hidden;
  }

  100% {
    left: -100%;
    overflow: hidden;
  }
}

.preloader {
  margin-top: 50px;
  width: 25px;
  height: 25px;
  border: 5px solid var(--c_cafe);
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes girar {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  position: fixed;
  width: 100%;
  height: 17%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1000;
  font-display: swap;
  font-family: Gotham-Bold;
  font-size: 14px;
  transition: 0.5s;
  flex-direction: column;
}

.menu {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--c_cafe);
}

.menu a {
  text-decoration: none;
  color: var(--c_cafe);
}

.logo_blanco {
  height: 10vh;
  transition: 0.5s;
}

.login {
  position: absolute;
  right: 4%;
  color: var(--c_cafe);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
}

.img_login {
  width: 20px;
}

.menu_opc_animation,
.menu_opc_animation_cafe {
  cursor: pointer;
  position: relative;
}

.menu_opc_animation_cafe::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  height: 2px;
  background: var(--c_cafe);
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: 1;
}

.menu_opc_animation_cafe:hover::before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.menu_opc_animation::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  height: 2px;
  background: var(--c_cafe);
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: 1;
}

.menu_opc_animation:hover::before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.menu_active {
  border-color: #fff;
  border-bottom: solid 2px;
}

.menu-bar {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 998;
  display: none;
  transition: 0.5s;
}

.container {
  display: block;
  cursor: pointer;
  width: 30px;
  height: auto;
  position: fixed;
  top: 27px;
  right: 20px;
  text-align: center;
  z-index: 100001;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 1px;
  background-color: var(--c_cafe);
  margin: 5px 0;
  transition: 0.4s;
}

#contenidoMenu {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: #fff;
  text-align: center;
  z-index: 99;
  color: #194271;
  top: 50px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-conten {
  width: auto;
  padding: 30px;
  margin-top: 5vh;
  display: inline-block;
}

.menu-el,
.menu-gua {
  font-display: swap;
  font-family: Gotham-Book;
  font-size: 20px;
  color: var(--c_cafe);
  margin-bottom: 15px;
  cursor: pointer;
}

.logo_menu_movil {
  width: 70%;
}

#btn_login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.icono_login_movil {
  width: 30px;
  margin-right: 10px;
}

.slider_principal {
  width: 100%;
  height: 90vh;
}

.slide {
  height: 90vh !important;
  background-position: center;
  background-repeat: no-repeat;
}

.sl_1 {
  background-image: url(../img/slider/1.png);
}

.sl_2 {
  background-image: url(../img/slider/2.jpg);
}

.sl_3 {
  background-image: url(../img/slider/4.jpg);
}

.sl_4 {
  background-image: url(../img/slider/3.jpg);
}

.circulo_scroll_mouse {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 180%;
  background-color: #1f1f1f;
  bottom: -2.5vw;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouse {
  position: relative;
  width: 30%;
  height: 50%;
  border-radius: 20px;
  border: solid 1px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll_mosue_circulo {
  position: relative;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
  top: 20%;
  animation: animacion_scroll 3.5s infinite;
}

@keyframes animacion_scroll {
  0% {
    top: 20%;
  }

  25% {
    top: -20%;
  }

  50% {
    top: 20%;
  }

  75% {
    top: -20%;
  }

  100% {
    top: 20%;
  }
}

.cont_enlaces_slider_principal {
  width: 95%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.caja_enlace {
  position: relative;
  width: 32%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cont_img_enlace {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_enlace {
  width: 100%;
}

.caja_enlace:hover .cont_flecha img {
  transform: scale(1.2);
}

.cont_texto {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 15px;
  color: var(--c_cafe);
}

.titulo_enlace {
  font-display: swap;
  font-family: Prata-Regular;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 0;
}

.texto_enlace {
  font-display: swap;
  font-family: Gotham-Light;
  font-size: 14px;
}

.cont_flecha {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont_flecha img {
  transition: 0.5s;
}

.slider_principal ul {
  width: 2.5%;
  height: 10vh;
  background-color: #222;
}

.slider_principal ul.slick-dots {
  position: absolute;
  left: 0;
  top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

.slider_principal ul.slick-dots li {
  height: 10px;
  width: auto;
}

.slider_principal ul.slick-dots li button {
  height: 2px;
  background-color: #fff;
  color: #fff;
  padding: 0;
  width: 15px;
}

.slider_principal ul.slick-dots li button::before {
  height: 2px;
  background-color: #fff;
  color: #fff;
  content: "";
  width: 15px;
}

.slider_principal ul.slick-dots li.slick-active button {
  width: 25px;
  color: #c8a791;
  background-color: #c8a791;
}

.slider_principal ul.slick-dots li.slick-active button::before {
  width: 25px;
  color: #fff;
  background-color: #fff;
}

.nosotros {
  width: 95%;
  height: 75vh;
  background-color: #e9e6da;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.nosotros_movil {
  display: none;
}

.menu_nostros {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--c_cafe);
  font-size: 24px;
  height: 20%;
  font-display: swap;
  font-family: Gotham-book;
}

.menu_nosotros_active {
  font-display: swap;
  font-family: Gotham-black;
}

.cont_slider_nosotros {
  width: 100%;
  height: 80%;
}

.opc_menu_nosotros {
  margin: 0 25px;
  cursor: pointer;
}

.slider_nostros {
  width: 95%;
  height: 70%;
  bottom: 0;
}

.slide_nosotros {
  position: relative !important;
  bottom: 0;
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.slider_nosotros_bodega,
.slider_nosotros_vinedo,
.slider_nostros_region {
  position: relative !important;
}

.img_slider_nosotros {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 50vw;
}

.img_nos_1 {
  background-image: url(../img/slider_nosotros/1.png);
}

.img_nos_2 {
  background-image: url(../img/slider_nosotros/1.png);
}

.img_nos_3 {
  background-image: url(../img/slider_nosotros/1.png);
}

.cont_txt_slider_nosotros {
  position: absolute;
  width: 45vw;
  height: 45vh;
  background-color: #fff;
  top: 2.5vh;
  right: 3vw;
}

.cont_txt_titulo_slider_nosotros {
  position: relative;
  height: 100%;
  color: var(--c_cafe);
  margin: 50px;
}

.titulo {
  margin-bottom: 0;
  font-size: 45px;
  font-display: swap;
  font-family: Prata-Regular;
}

.txt {
  margin-top: 15px;
  font-size: 20px;
  font-display: swap;
  font-family: Gotham-light;
}

.slick-prev {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slick-next {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rombo {
  position: absolute;
  left: 45vw;
  top: 38vh;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #e9e6da;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
}

#btn_slider_nosostros_izquierda {
  position: absolute;
  left: calc(50vw - 3vw - 14px);
  top: 22.5vh;
  z-index: 2;
  width: 30px;
}

#btn_slider_nosostros_derecha {
  position: absolute;
  left: calc(50vw - 3vw - 44px);
  top: 22.5vh;
  z-index: 2;
  width: 30px;
}

.slick-dots {
  bottom: -55px !important;
}

.slick-dots li.slick-active button::before {
  opacity: 1 !important;
  color: var(--c_cafe) !important;
  font-size: 10px !important;
}

.slick-dots li button::before {
  color: #fff !important;
  opacity: 1 !important;
  font-size: 8px !important;
}

.flechas_slider_nosotros {
  width: 6vw;
  position: absolute;
  top: 35vh;
  left: calc(50vw - 6.7vw);
  z-index: 1;
}

.puntos {
  position: absolute;
  bottom: 10%;
  right: 6%;
  z-index: 10;
}

.btn_tienda {
  position: absolute;
  top: 20%;
  right: 30%;
  background-color: #222;
  border-radius: 180%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  width: 7vw;
  height: 7vw;
  font-display: swap;
  font-family: Gotham-Medium;
  font-size: 0.8vw;
  z-index: 101;
  transition: 0.5s;
}

.btn_tienda:hover {
  transform: scale(1.1);
}

.nosotros_nuevo {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.seccion_mensaje {
  position: relative;
  width: 100%;
  height: 30vh;
}

.txt_mensaje {
  font-display: swap;
  font-family: Gotham-ExtraLight;
  font-size: 40px;
  color: #b36439;
  text-align: center;
}

.txt_resaltado {
  font-display: swap;
  font-family: Gotham-ExtraLight;
  font-size: 40px;
  color: #4c382d !important;
}

.seccion_nosotros {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: #ccc;
  background-image: url(../img/img3.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
}

.img_botella,
.img_botella_cinco,
.img_botella_cuatro,
.img_botella_dos,
.img_botella_tres,
.img_botella_uno {
  position: absolute;
  width: 35%;
  left: -2%;
  top: -5%;
  z-index: 100;
}

.img_botella_seis {
  position: absolute;
  width: 30%;
  left: 50px;
  top: -5%;
  z-index: 100;
}

.top_img_bg {
  position: relative;
  width: 100%;
  height: 30%;
  background-position: center 75%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.img_top_circulo {
  position: relative;
  width: 25vw;
  height: 25vw;
  border-radius: 180%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 99;
}

.top_img_bg_uno {
  background-image: url(../img/banner_quienes_somos.jpg);
}

.top_img_bg_dos {
  background-image: url(../img/banner_manifiesto.png);
}

.top_img_bg_tres {
  background-image: url(../img/banner_queretaro.jpg);
}

.top_img_bg_cuatro {
  background-image: url(../img/banner_viticultura.jpg);
}

.top_img_bg_cinco {
  background-image: url(../img/banner_vinedo.jpg);
}

.top_img_bg_seis {
  background-image: url(../img/banner_vinicola.png);
}

.img_top_circulo_uno {
  background-image: url(../img/circulo_quienes_somos.jpg);
}

.img_top_circulo_dos {
  background-image: url(../img/circulo_manifiesto.png);
}

.img_top_circulo_tres {
  background-image: url(../img/circulo_queretaro.jpg);
}

.img_top_circulo_cuatro {
  background-image: url(../img/circulo_viticultura.jpg);
}

.img_top_circulo_cinco {
  background-image: url(../img/circulo_vinedo.jpg);
}

.img_top_circulo_seis {
  background-image: url(../img/circulo_vinicola.png);
}

.bottom_img_bg {
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_izq {
  position: relative;
  width: 50%;
  height: 100%;
}

.fondo_negro_opaco {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.6;
}

.bottom_der {
  position: relative;
  width: 50%;
  height: 100%;
}

.fondo_blanco_opaco {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
}

.lista_nosotros_mov {
  display: none;
}

.lista_nosotros {
  position: absolute;
  left: 10%;
  bottom: 10%;
  width: auto;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 200;
}

.txt_lista_nosotros {
  color: #fff;
  font-display: swap;
  font-family: Gotham-medium;
  font-size: 17px;
  cursor: pointer;
  padding-left: 10px;
}

.no-visible {
  opacity: 0;
}

.espacio_quienes_somos {
  position: relative;
  width: 100%;
  height: 80px;
}

.cont_datos_nosotros {
  /* position: absolute;
  left: 10%;
  top: 20%;
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  transition: 1s; */
  position: relative;
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titulo_interior_nosotros {
  font-size: 2.5vw;
  color: #000;
  font-display: swap;
  font-family: Prata-Regular;
  margin-left: 5%;
  margin-right: 5%;
}

.txt_interior_nosotros {
  font-size: 1vw;
  color: #000;
  font-display: swap;
  font-family: Gotham-Book;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

.linea_interior_texto {
  position: absolute;
  width: 50%;
  left: -30%;
  height: 2px;
  bottom: -2%;
  background-color: #bfa691;
}

.tipo_columna {
  flex-direction: column;
}

.linea_seleccion_nosotros {
  position: relative;
  width: 40px;
  height: 2px;
  background-color: #bfa691;
}

.cont_submenu_nosotros {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40%;
}

.centrado-columna {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.video {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #ccc;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_play_video {
  cursor: pointer;
  transition: 0.5s;
  width: 10%;
  position: absolute;
  z-index: 99;
}

.img_play_video:hover {
  transform: scale(1.1);
}

.vinos {
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nombre_vino {
  width: auto;
  float: left;
  font-size: 2em;
  font-display: swap;
  font-family: Gotham-Light;
  color: var(--c_cafe);
  font-size: 40px;
}

.bold {
  font-display: swap;
  font-family: Prata-Regular;
  font-size: 36px;
}

.bold_tasting {
  font-display: swap;
  font-family: Prata-Regular;
  font-size: 45px;
  color: white;
  z-index: 999;
  line-height: 100px;
}

.cont_vino_caracteristicas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  color: var(--c_cafe);
}

.datos {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.caracteristicas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.car_cont_izq {
  width: 45%;
  height: 100%;
}

.opc {
  margin: 0;
  font-size: 18px;
  font-display: swap;
  font-family: Prata-Regular;
}

.info_opc {
  margin-top: 5px;
  margin-bottom: 14px;
  font-size: 18px;
  font-display: swap;
  font-family: Gotham-Light;
}

.car_cont_der {
  width: 55%;
  height: 100%;
  margin-left: 50px;
}

.imagen {
  width: 60%;
  height: 100%;
  position: relative;
}

.lista_vinos,
.lista_vinos_bajio,
.lista_vinos_ensayos,
.lista_vinos_terruños,
.lista_vinos_varietales {
  width: 50%;
  height: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-display: swap;
  font-family: Gotham-book;
  font-size: 24px;
}

.lista_vinos_active {
  font-display: swap;
  font-family: Gotham-black;
}

.lista_tipos_vino {
  width: 40%;
  height: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-display: swap;
  font-family: Gotham-light;
  font-size: 22px;
}

.lista_tipos_vino_active {
  font-display: swap;
  font-family: Gotham-bold;
}

.uvas {
  position: absolute;
  width: 25vw;
  height: 25vw;
  bottom: 0;
  right: 40%;
  z-index: 9;
  border-radius: 180%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.uvas_verdes {
  background-image: url(../img/uvas-verdes.png);
}

.uvas_verdes_moradas {
  background-image: url(../img/uvas-verdes-moradas.png);
}

.uvas_moradas {
  background-image: url(../img/uvas-moradas.jpg);
}

.uvas_rosas {
  background-image: url(../img/uvas-rosas.png);
}

.circulo {
  position: absolute;
  z-index: 10;
  width: 35%;
  bottom: 13%;
  right: 20%;
}

.vino_img {
  position: absolute;
  z-index: 10;
  height: 75%;
  bottom: 10%;
  right: 50%;
}

.vino_img_2 {
  position: absolute;
  z-index: 9;
  height: 75%;
  bottom: 10%;
  right: 65%;
}

.lista_vinos_opc {
  color: var(--c_cafe);
  cursor: pointer;
}

.lista_tipos_vino_opc {
  color: var(--c_cafe);
  cursor: pointer;
}

.vinos {
  overflow: hidden;
}

.btn_ficha_tecnica {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  font-size: 0.9vw;
  font-display: swap;
  font-family: Gotham-Bold;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  transition: 0.5s;
  border: solid 1px transparent;
}

.btn_ficha_tecnica:hover {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn_ficha_tecnica:hover .fa-1 {
  stroke: #000;
}

.flecha_abajo {
  width: 15px;
}

.cont_nombre_tipo {
  position: absolute;
  right: -15%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: none;
}

.cont_nombre_tipo_te {
  position: absolute;
  right: -15%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: none;
}

.cont_nombre_tipo_es {
  position: absolute;
  right: -15%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: none;
}

.cont_nombre_tipo_va {
  position: absolute;
  right: -15%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: none;
}

.especiales {
  font-size: 8vw !important;
}

.cont_nombre_tipo p,
.cont_nombre_tipo span,
.cont_nombre_tipo_va p,
.cont_nombre_tipo_va span,
.cont_nombre_tipo_te p,
.cont_nombre_tipo_te span,
.cont_nombre_tipo_es p,
.cont_nombre_tipo_es span {
  font-display: swap;
  font-family: Prata-Regular;
  background: url(../img/uvas_verdes.jpg);
  background-position: center center;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: 9vw;
  color: transparent;
  /*transform: rotate(-90deg);*/
  margin: 0;
  padding: 0;
  writing-mode: vertical-rl;
}

.cont_nombre_tipo p {
  /*margin-right: -60%;*/
  margin-right: -37%;
  margin-bottom: -35%;
}

.cont_nombre_tipo_va p {
  /*margin-right: -60%;*/
  margin-right: -27%;
  margin-bottom: -35%;
}

.cont_nombre_tipo_te p {
  margin-right: -10%;
  margin-bottom: -35%;
}

.cont_nombre_tipo_va span {
  top: 40%;
  position: relative;
  right: 43%;
}

.cont_nombre_tipo span {
  margin-bottom: 70%;
}

.bajios_ubic {
  right: 15%;
}

.bajios_ubic p {
  margin-bottom: 10%;
  outline-color: #fff;
}

/*.bajios_ubic p:after {
    content: '';
    border: solid 20px #fff;
    background-color: transparent;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%
}*/

.terrunos_ubic {
  right: 0;
}

.terrunos_ubic p {
  margin-bottom: 10%;
  outline-color: #fff;
}

.centrado {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wine_club {
  position: relative;
  width: 95%;
  width: 90%;
  height: 100vh;
  background-image: url(../img/wineclub.png);
  background-position: center;
  background-size: cover;
  background-color: #000;
}

.cont_mensaje_wine {
  position: relative;
  top: 25vh;
  left: 9%;
  width: 40%;
}

.wineclub_titulo {
  font-display: swap;
  font-family: Prata-Regular;
  font-size: 55px;
  color: #fff;
}

.btn_ver_mas_clubwine {
  font-display: swap;
  font-family: Prata-Regular;
  font-size: 34px;
  width: auto;
  height: 40px;
  background-color: var(--c_cafe);
  text-decoration: none;
  padding: 10px;
  color: #fff;
  font-size: 1.5em;
}

.btn_ver_mas_clubwine::before {
  content: "";
  position: absolute;
  width: auto;
  top: 100%;
  height: 2px;
  background: #fff;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: 1;
}

.btn_ver_mas_clubwine:hover::before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.cont_logo_wineclub {
  position: absolute;
  left: -2%;
  bottom: 25%;
  width: 32%;
  height: auto;
  background-color: rgba(34, 34, 34, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.cont_logo_wineclub img {
  width: 80%;
}

.cont_txt_wineclub {
  position: absolute;
  left: 29%;
  bottom: 8%;
  width: 48%;
  height: auto;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.txt_winelub {
  font-display: swap;
  font-family: Gotham-ExtraLight;
  font-size: 2vw;
  color: #c7a792;
}

.boton_unir {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #222;
  font-display: swap;
  font-family: Gotham-Bold;
  font-size: 1vw;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 23%;
  height: 8%;
  cursor: pointer;
  transition: 0.5s;
  border: solid 1px #000;
}

.boton_unir-wineclub {
  position: absolute;
  bottom: -21.2vh;
  right: 0;
  background-color: #222;
  font-display: swap;
  font-family: Gotham-Bold;
  font-size: 1vw;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120%;
  height: 24%;
  cursor: pointer;
  transition: 0.5s;
  border: solid 1px #000;
}

.boton_unir img,
.boton_unir svg,
.boton_unir-wineclub img,
.boton_unir-wineclub svg {
  width: 40%;
}

.boton_unir:hover,
.boton_unir-wineclub:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.boton_unir:hover .fa-2,
.boton_unir-wineclub:hover .fa-2 {
  stroke: #000;
}

.boton_unir_mov {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #222;
  font-display: swap;
  font-family: Gotham-Bold;
  font-size: 1vw;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 23%;
  height: 8%;
  cursor: pointer;
  transition: 0.5s;
  border: solid 1px #000;
  display: none;
}

.boton_unir_mov img,
.boton_unir_mov svg {
  width: 40%;
}

.boton_unir_mov:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.boton_unir_mov:hover .fa-2 {
  stroke: #000;
}

.terraza {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borde_terraza {
  border: solid 1px #fff;
  width: 100%;
  height: 80vh;
  margin: 50px;
}

.cont_txt_terraza {
  position: absolute;
  left: 0;
  bottom: 12vh;
  width: 40%;
  height: 162px;
  background-color: #efeeed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont_btn_terraza {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.btn_terraza {
  text-decoration: none;
  color: var(--c_cafe);
  font-size: 2em;
  font-display: swap;
  font-family: Prata-Regular;
  font-size: 34px;
}

.btn_terraza::before {
  content: "";
  position: absolute;
  width: auto;
  top: 40%;
  height: 2px;
  background: var(--c_cafe);
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: 1;
}

.btn_terraza:hover::before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.cont_mensaje_terraza {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40px;
}

.titulo_mensaje_terraza {
  margin: 10px 10px;
  font-size: 30px;
  color: var(--c_cafe);
  font-display: swap;
  font-family: Prata-Regular;
  font-size: 34px;
}

.mensaje_terraza {
  color: var(--c_cafe);
  margin: 0 20px;
  font-display: swap;
  font-family: Avenir;
  font-size: 14px;
}

.tasting {
  position: relative;
  width: 50%;
  height: 100%;
  background-image: url(../img/tasting.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.envero {
  background-image: url(../img/envero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont_interno_tasting_envero {
  position: relative;
  width: 40%;
  height: 400px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.fondo_negro_transparente {
  background-color: #222;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
}

.titulo_tasting_envero {
  position: relative;
  font-display: swap;
  font-family: Prata-Regular;
  color: #fff;
  font-size: 3vw;
  z-index: 10;
}

.txt_tasting_envero {
  position: relative;
  font-display: swap;
  font-family: Gotham-Book;
  color: #fff;
  font-size: 1.2vw;
  z-index: 10;
  text-align: center;
}

.btn_reservaciones {
  text-decoration: none;
  color: #fff;
  border-radius: 30px;
  z-index: 10;
  padding: 10px 15px;
  font-display: swap;
  font-family: Gotham-Bold;
  transition: .5s;
  height: 20px;
  background-color: #ca9d4a;
  border: 1px solid #ca9d4a;
  cursor: pointer;
}

.btn_reservaciones:hover {
  color: #ca9d4a;
  background-color: #fff;
}



.boton_tasting_envero {
  /* text-decoration: none;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 30px;
  z-index: 10;
  padding: 10px 30px;
  font-display: swap;
  font-family: Gotham-Bold;
  transition: 0.5s; */
  text-decoration: none;
  color: #fff;
  /* border: solid 1px #fff; */
  border-radius: 30px;
  z-index: 10;
  padding: 10px 15px;
  font-display: swap;
  font-family: Gotham-Bold;
  transition: .5s;
  height: 20px;
}

.boton_tasting_envero:hover {
  background-color: #fff;
  color: #000;
}

.linea_titulo_tasting_envero {
  position: relative;
  width: 15%;
  height: 2px;
  background-color: #fff;
}

.logo_envero {
  padding-top: 5px;
  width: 80%;
  z-index: 10;
}

.contacto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 70vh;
  flex-direction: column;
}

.mapa {
  width: 50%;
  height: 100%;
  border: solid 1px #c8a791;
}

.formulario {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 50px;
}

.grupo_input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.input_100 {
  width: 90%;
  height: 30px;
  border: none;
  border-bottom: solid 1px #c8a791;
  padding-left: 10px;
}

.btn_enviar_form {
  position: absolute;
  height: 40px;
  right: 5%;
  border: none;
  background-color: #fff;
  border-bottom: solid 1px #c8a791;
  margin-top: 20px;
  font-display: swap;
  font-family: Gotham-Book;
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
}

.btn_enviar_form:hover {
  background-color: var(--c_cafe);
  color: #fff;
}

.form {
  width: 100%;
}

.direccion {
  position: relative;
  width: 90%;
  margin-left: 8%;
  font-display: swap;
  font-family: Prata-Regular;
  font-size: 16px;
  color: var(--c_cafe);
}

.input_titulo {
  width: 90%;
  font-display: swap;
  font-family: Gotham-Book;
  font-size: 16px;
  color: var(--c_cafe);
}

.titulo_seccion {
  font-size: 2em;
  color: var(--c_cafe);
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  font-display: swap;
  font-family: Prata-Regular;
  font-size: 45px;
}

.cont_mapa_formulario {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 95%;
  height: 50px;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-display: swap;
  font-family: Gotham-Book;
  font-size: 14px;
}

.txt_footer {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.cont_footer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.over_ink::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 80%;
  height: 2px;
  background: #fff;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: 1;
}

.over_ink:hover::before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.over_aviso {
  cursor: pointer;
}

.over_aviso::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 130%;
  height: 2px;
  background: #fff;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: 1;
}

.over_aviso:hover::before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.imapa {
  width: 100%;
  height: 100%;
}

.cont_enlaces_slider_principal_movil {
  display: none !important;
  width: 100%;
  height: 100vh;
}

.img_links_slider {
  width: 90%;
}

.espacio_blanco_movil {
  width: 100%;
  height: 5vh;
  display: none;
}

.terraza_movil,
.vinos_movil,
.wine_club_movil {
  display: none;
}

.footer_movil {
  display: none;
}

.cont_redes {
  display: contents;
}

.slide_movil_home {
  display: none !important;
}

.nom_pos_menu_movil {
  display: none;
}

.reservacion {
  position: relative;
  display: flex;
  background-color: #ca9d4a;
  width: 100%;
  align-items: center;
  color: white;
  justify-content: center;
  top: 0px;
  padding: 8px 0;
}

.reservacion a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-color: transparent !important;
  border-bottom: solid 2px transparent !important;
}

.reservacion h2 {
  margin: 0;
  padding: 0;
}

@media (max-width: 1440px) {
  .lista_nosotros {
    bottom: 15%;
  }

  .img_top_circulo {
    width: 20vw;
    height: 20vw;
  }

  .menu_nostros {
    font-size: 18px;
  }

  .titulo {
    font-size: 35px;
  }

  .txt {
    font-size: 14px;
  }

  .lista_tipos_vino {
    font-size: 18px;
  }

  .lista_vinos,
  .lista_vinos_bajio,
  .lista_vinos_ensayos,
  .lista_vinos_terruños,
  .lista_vinos_varietales {
    font-size: 16px;
  }

  .bold {
    font-size: 36px;
  }

  .txt_nombre_vino {
    font-size: 28px;
  }

  .opc {
    font-size: 18px;
  }

  .info_opc {
    font-size: 14px;
  }

  .cont_mensaje_wine {
    width: 45%;
  }

  .wineclub_titulo {
    font-size: 40px;
  }

  .btn_terraza {
    font-size: 28px;
  }

  .titulo_mensaje_terraza {
    font-size: 28px;
  }

  .mensaje_terraza {
    font-size: 14px;
  }

  .titulo_seccion {
    font-size: 35px;
  }

  .input_titulo {
    font-size: 14px;
  }

  .btn_enviar_form {
    font-size: 14px;
  }

  .direccion {
    font-size: 14px;
    line-height: 0.5;
  }

  .contacto {
    height: 90vh;
  }

  .puntos {
    width: 1%;
  }

  footer {
    font-size: 12px;
  }

  .bold_tasting {
    font-size: 30px;
  }
}

@media (max-width: 1370px) {

  .vino_img,
  .vino_img_2 {
    height: 60%;
  }

  #btn_slider_nosostros_izquierda {
    left: calc(50vw - 2vw - 12px);
    top: 20.5vh;
  }

  #btn_slider_nosostros_derecha {
    left: calc(50vw - 2vw - 41px);
    top: 20.5vh;
  }

  .menu_nostros {
    font-size: 18px;
  }

  .titulo {
    font-size: 35px;
  }

  .txt {
    font-size: 14px;
  }

  .lista_tipos_vino {
    font-size: 18px;
  }

  .lista_vinos,
  .lista_vinos_bajio,
  .lista_vinos_ensayos,
  .lista_vinos_terruños,
  .lista_vinos_varietales {
    font-size: 16px;
  }

  .bold {
    font-size: 34px;
  }

  .txt_nombre_vino {
    font-size: 26px;
  }

  .opc {
    font-size: 18px;
  }

  .info_opc {
    font-size: 14px;
  }

  .cont_mensaje_wine {
    width: 45%;
  }

  .wineclub_titulo {
    font-size: 40px;
  }

  .btn_terraza {
    font-size: 28px;
  }

  .titulo_mensaje_terraza {
    font-size: 28px;
  }

  .mensaje_terraza {
    font-size: 14px;
  }

  .titulo_seccion {
    font-size: 35px;
  }

  .input_titulo {
    font-size: 14px;
  }

  .btn_enviar_form {
    font-size: 14px;
  }

  .direccion {
    font-size: 14px;
    line-height: 0.5;
  }

  .contacto {
    height: 90vh;
  }

  .puntos {
    width: 1%;
  }

  footer {
    font-size: 12px;
  }

  .tien {
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .bold_tasting {
    font-size: 30px;
  }
}

@media (max-width: 1100px) {
  #btn_slider_nosostros_izquierda {
    left: calc(50vw - 2vw - 27px);
    top: 20.5vh;
  }

  #btn_slider_nosostros_derecha {
    left: calc(50vw - 2vw - 57px);
    top: 20.5vh;
  }

  .vino_img,
  .vino_img_2 {
    height: 60%;
  }

  .tien {
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .bold_tasting {
    font-size: 25px;
  }
}

@media (max-width: 980px) {
  header {
    display: none;
  }

  .menu-bar {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .slider_principal .slick-dots {
    display: none !important;
  }

  .slider_principal {
    width: 100%;
    height: 85vh;
    top: 50px;
  }

  .slide_movil_home {
    display: inherit;
  }

  .cont_enlaces_slider_principal,
  .espacio_blanco,
  .nosotros,
  .vinos {
    display: none !important;
  }

  .slide {
    height: 100vh !important;
  }

  .cont_enlaces_slider_principal_movil {
    display: inherit !important;
  }

  .cont_texto {
    width: 100%;
    height: 30%;
    margin: 0;
    display: block;
  }

  .slide_movil {
    width: 100%;
    height: 100vh !important;
    padding: 30px 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }

  .cont_flecha {
    position: absolute;
    width: 40%;
    height: 7vh;
    background-color: var(--c_cafe_fuerte);
    color: var(--c_cafe);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: -30%;
    font-size: 20px;
  }

  .titulo_enlace {
    font-size: 20px;
  }

  .cont_flecha img {
    width: 20%;
  }

  .espacio_blanco_movil {
    display: inherit;
  }

  .footer_desktop {
    display: none;
  }

  .footer_movil {
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--c_cafe_fuerte);
  }

  .cont_footer_movil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
  }

  .txt_footer {
    color: var(--c_cafe);
  }

  .nosotros_movil {
    width: 100%;
    height: 100vh;
    background-color: #e9e6da;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 100px;
  }

  .cont_slider_nosotros_movil {
    width: 100%;
    height: auto;
  }

  .img_slider_nosotros_movil {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
  }

  .cont_txt_slider_nosotros_movil {
    position: relative;
    width: 94%;
    height: auto;
    background-color: #fff;
    left: 3%;
    top: -30vh;
  }

  .slider_nosotros_bodega_movil,
  .slider_nosotros_region_movil,
  .slider_nosotros_vinedo_movil {
    margin-bottom: 0 !important;
  }

  .cont_txt_titulo_slider_nosotros_movil {
    position: relative;
    height: 100%;
    color: var(--c_cafe);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-top: 10px;
  }

  .nosotros_movil .slick-dots {
    top: 10px;
    height: 30px;
  }

  .menu_nosotros_movil {
    position: absolute;
    width: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c_cafe);
    font-size: 16px;
    font-display: swap;
    font-family: Gotham-book;
    box-sizing: border-box;
  }

  .opc_menu_nosotros {
    margin: 0 5px;
  }

  .titulo {
    padding-top: 30px;
  }

  .txt {
    font-size: 14px;
  }

  .terraza_movil {
    display: inherit;
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .slider_terraza_movil {
    width: 100%;
    height: 100%;
  }

  .img_terraza_movil {
    width: 100%;
    height: 60vh !important;
    background-image: url(../img/terraza.png);
    background-position: center;
    background-size: cover;
  }

  .terraza_movil .slick-dots {
    top: 55vh;
  }

  .cont_txt_terraza_movil {
    position: absolute;
    width: 100%;
    height: 40vh;
    bottom: 0;
    background-color: #efeeed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cont_btn_terraza_movil {
    position: absolute;
    top: -1px;
    left: 0;
    background-color: var(--c_cafe);
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-display: swap;
    font-family: Prata-Regular;
  }

  .cont_btn_terraza_movil a {
    color: #fff;
    font-size: 16px;
  }

  .cont_mensaje_terraza {
    margin-top: 25%;
    width: 90%;
  }

  .mensaje_terraza {
    font-display: swap;
    font-family: Gotham-light;
  }

  .titulo_seccion {
    height: 20vh;
  }

  .contacto {
    height: auto;
  }

  .cont_mapa_formulario {
    flex-direction: column;
  }

  .mapa {
    width: 95%;
    border: none;
    height: 40vh;
  }

  .formulario {
    width: 100%;
  }

  .direccion {
    width: 100%;
    padding-top: 50px;
    font-size: 13px;
    margin: 0 10px;
  }

  .cont_redes {
    widows: 80%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
  }

  .img_red {
    width: 50px;
    margin-right: 10px;
  }

  .grupo_input {
    margin: 30px 0;
  }

  footer {
    margin-top: 50px;
  }

  .wine_club_movil {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: calc(100vh - 80px);
    background-image: url(../img/wine_club.png);
    background-position: bottom;
    background-size: cover;
    position: relative;
  }

  .cont_mensaje_wine_movil {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    background-color: var(--c_cafe);
  }

  .wineclub_titulo_movil {
    font-display: swap;
    font-family: Prata-Regular;
    font-size: 25px;
    color: #fff;
    text-align: center;
  }

  .btn_ver_mas_clubwine_movil {
    position: absolute;
    font-display: swap;
    font-family: Prata-Regular;
    font-size: 34px;
    width: auto;
    height: 28px;
    background-color: var(--c_cafe);
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-size: 1.5em;
    bottom: 0;
    left: 50%;
    top: calc(95% - 40px);
    transform: translate(-50%, 100%);
  }

  .vinos_movil {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .cont_opciones_vinos_movil {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .cont_zonas_vinos_movil {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 96%;
    height: 50%;
    font-display: swap;
    font-family: Gotham-Book;
    font-size: 14px;
    color: var(--c_cafe);
    border-bottom: solid 1px var(--c_cafe);
  }

  .active_movil_zona {
    font-display: swap;
    font-family: Gotham-Black !important;
  }

  .tipos_vino_movil {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    font-display: swap;
    font-family: Robote-Condensed;
    font-size: 10px;
    color: var(--c_cafe);
  }

  .tipo_movil_active {
    border-bottom: solid 1px var(--c_cafe);
  }

  .contenido_vinos_movil {
    position: relative;
    width: 100%;
    height: 85% !important;
  }

  .cont_int_datos_vino {
    position: relative;
    width: 100%;
    height: 85vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title_vino_movil {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo_movil {
    font-display: swap;
    font-family: Prata-Regular;
    font-size: 24px;
    color: var(--c_cafe);
    text-align: center;
  }

  .ano_movil {
    font-size: 22px;
    font-display: swap;
    font-family: Gotham-Light;
    color: var(--c_cafe);
  }

  .uvas_movil {
    width: 100%;
    position: absolute;
    top: 20%;
  }

  .cirulo_movil {
    width: 60%;
    position: absolute;
    top: 25%;
    left: 20%;
  }

  .botella_vino_movil {
    width: 70%;
    position: absolute;
    left: 15%;
    top: 10%;
  }

  .btn_tienda_movil {
    position: absolute;
    width: 30%;
    height: auto;
    border-radius: 75px;
    border: solid 1px var(--c_cafe);
    display: flex;
    justify-content: center;
    font-size: 11px;
    font-display: swap;
    font-family: Gotham-Medium;
    color: var(--c_cafe);
    padding: 10px;
    z-index: 10;
    bottom: 10%;
    left: calc(35% - 10px);
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
  }

  .btn_tienda_movil_doble {
    position: relative;
    width: 35%;
    height: auto;
    border-radius: 75px;
    border: solid 1px var(--c_cafe);
    display: flex;
    justify-content: center;
    font-size: 11px;
    font-display: swap;
    font-family: Gotham-Medium;
    color: var(--c_cafe);
    padding: 10px;
    z-index: 10;
    bottom: 10%;
    /* left: calc(35% - 10px); */
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
  }

  .icon_slide {
    width: 5%;
    position: absolute;
    bottom: 3%;
    left: 47.5%;
    animation: 1s slide_animacion infinite;
  }

  @keyframes slide_animacion {
    0% {
      left: 47.5%;
    }

    25% {
      left: 47%;
    }

    50% {
      left: 47.5%;
    }

    75% {
      left: 48%;
    }

    100% {
      left: 47.5%;
    }
  }

  .bold_movil {
    font-display: swap;
    font-family: Prata-Regular;
    font-size: 18px;
    color: var(--c_cafe);
  }

  .normal_movil {
    font-size: 14px;
    font-display: swap;
    font-family: Gotham-Light;
    color: var(--c_cafe);
  }

  .cont_datos_movil_vino {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .grupo_movil {
    height: 12vh;
    text-align: center;
  }

  .titulo_datos_movil {
    font-display: swap;
    font-family: Prata-Regular;
    font-size: 24px;
    color: var(--c_cafe);
    border-bottom: solid 1px var(--c_cafe);
  }

  .cont_datos_movil_vino_2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding-left: 10%;
  }

  .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .slide_movil_home {
    display: inherit !important;
  }

  .slide_desktop_home {
    display: none !important;
  }

  .sl_1_m {
    background-image: url(../img/slider/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sl_2_m {
    background-image: url(../img/slider/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sl_3_m {
    background-image: url(../img/slider/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sl_4_m {
    background-image: url(../img/slider/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .preload img {
    width: 80%;
  }

  .nom_pos_menu_movil {
    display: inherit;
  }

  .titulo_menu_movil {
    color: var(--c_cafe);
    font-display: swap;
    font-family: Gotham-Book;
    font-size: 16px;
  }

  .contacto .titulo_seccion {
    display: none;
  }

  .circulo_scroll_mouse {
    width: 20vw;
    height: 20vw;
  }

  .nosotros_nuevo {
    height: auto;
  }

  .seccion_mensaje {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .seccion_nosotros {
    height: auto;
  }

  .bottom_img_bg {
    flex-direction: column;
  }

  .bottom_der,
  .lista_nosotros {
    display: none;
  }

  .bottom_izq {
    width: 100%;
  }

  .img_top_circulo {
    width: 50vw;
    height: 50vw;
    top: 25vw;
  }

  .txt_mensaje {
    font-size: 35px;
    padding: 0;
    box-sizing: border-box;
  }

  .top_img_bg {
    height: 40%;
  }

  .lista_nosotros_mov {
    display: inherit;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20vh 0;
  }

  bac .bottom_img_bg {
    height: auto;
  }

  .cont_datos_nosotros {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
  }

  .titulo_interior_nosotros {
    font-size: 5vw;
  }

  .txt_interior_nosotros {
    font-size: 4vw;
  }

  .titulo_interior_nosotros,
  .txt_interior_nosotros {
    color: #fff;
    text-align: center;
    padding: 0 20px;
  }

  .centrado {
    position: relative;
    flex-direction: column;
  }

  .fondo_negro_opaco {
    opacity: 1;
    background: url(../img/img3.png) #222;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .img_play_video {
    width: 20%;
  }

  .terraza {
    flex-direction: column;
    height: 120vh;
  }

  .tasting {
    width: 100%;
  }

  .envero {
    width: 100%;
  }

  .boton_tasting_envero {
    font-size: 3vw;
  }

  .txt_tasting_envero {
    font-size: 3vw;
  }

  .cont_interno_tasting_envero {
    width: 60%;
    height: 300px;
  }

  .cont_logo_wineclub {
    width: 70%;
    bottom: 0;
  }

  .cont_txt_wineclub {
    top: 100%;
    bottom: inherit;
    width: 95%;
    left: inherit;
    right: 0;
  }

  .txt_winelub {
    font-size: 4vw;
  }

  .boton_unir_mov {
    position: absolute;
    display: inherit;
    top: 100%;
    bottom: inherit;
    width: 80%;
    left: inherit;
    right: 0;
    font-size: 4vw;
    border: none;
    height: 30%;
  }

  .boton_unir {
    display: none;
  }

  .logo_blanco {
    padding: 5px;
  }

  .btn_tienda {
    width: 20vw;
    height: 20vw;
    left: 10%;
    top: 10%;
    font-size: 3vw;
  }

  .cirulo_movil {
    width: 60vw;
    height: 60vw;
    border-radius: 180%;
  }

  .vinos_movil {
    margin-bottom: 150px;
  }

  .bajios_ubic {
    right: 0;
    top: 0;
    z-index: -1;
  }

  .bajios_ubic p {
    margin: 0;
  }

  .otros p {
    position: relative;
    right: -20% !important;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(3px, 2px);
    transform: rotate(-45deg) translate(3px, 2px);
  }

  .change .bar2 {
    -webkit-transform: rotate(45deg) translate(-2px, -8px);
    transform: rotate(45deg) translate(-2px, -8px);
  }

  .video {
    height: calc(50vh - 80px);
  }

  .boton_unir_mov {
    display: inherit;
  }

  .img_botella {
    top: 0;
    left: 0;
  }

  .txt_lista_nosotros {
    padding-left: 0;
  }

  .padding_30 {
    padding-left: 0;
  }

  svg {
    width: 80% !important;
  }

  .cont_ciruclo {
    width: 80%;
  }

  .ciruclo_btn {
    width: 60px;
    height: 60px;
  }

  .no_bajios_ubic {
    right: -61px !important;
  }

  .bajios_ubic {
    display: none;
  }

  /** tienda **/

  .home_tienda {
    position: static;
    width: 100%;
    height: calc(100vh - 80.8px);
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80.0px;
  }

  .btn_calatologo {
    line-height: normal;
    text-align: center;
    font-size: 24px;
  }

  .uvas-tienda {
    position: absolute;
    width: 60%;
    height: 70%;
  }

  .cont-mensaje-tienda {
    position: relative;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    line-height: 1;
  }

  .prox {
    font-family: Gotham-Bold;
    position: relative;
    font-size: 22px;
    color: #4caf50;
    line-height: 1;
  }

  .tien {
    font-family: Cocogoose_trial;
    position: relative;
    font-size: 47px;
    color: white;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .msj {
    font-family: ITCAvantGardeStd-Demi;
    position: relative;
    font-size: 19px;
    color: white;
    text-align: center;
  }

  .wha {
    font-family: ITCAvantGardeStd-Demi;
    color: #4caf50;
    font-size: 19px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
  }

  .wha-ico {
    width: 25px;
    padding-right: 10px;
  }

  /** end tienda **/

  .form_wine_club {
    width: 90%;
    right: 5%;
  }

  .titulo_formulario_wine_club {
    width: 100%;
    text-align: left;
    top: -60%;
  }

  .cont_logo_wineclub {
    display: none;
  }

  .boton_unir-wineclub {
    bottom: -29%;
    width: 100%;
    font-size: 1em;
  }

  .boton_unir-wineclub svg {
    width: 30% !important;
  }

  .bold_tasting {
    font-size: 25px;
  }

  .btn_reservaciones {
    font-size: 10px;
    font-size: 12px;
    padding: 7px 13px;
  }

  .reservacion a {
    font-size: 12px;
  }

  .reservacion {
    position: fixed;
    top: 90px;
    padding: 8px 0;
    z-index: 998;
  }
}